body {
  font-family: "Architects Daughter", cursive;
  font-size: 0.8vw;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.topDiv {
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin-top: 1vh;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}